@font-face {
  font-family: 'Pixellari';
  src: url("fonts/Pixellari.ttf") format ('truetype');
}

*
{
    font-family: 'Pixellari', Impact, Arial, sans-serif;
}

body
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7F4349; 
}

#scene
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(images/backgroundScene5.png);
  background-position: center;
  width: 1252px;
  height: 705px;
  background-repeat: no-repeat;
  border: 4px solid #161011;
}

  #boiteDialogue
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    #imagePersoActif
    {
      visibility: hidden;
      border : 2px solid black;
    }

    #contenuBoiteDialogue
    {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      align-self: center;
      color: #E0E0E0;
      background-image: url(images/boiteDialogue.png);
      background-size: 400px 94px;
      width: 388px;
      height: 82px;
      padding: 5px 5px 5px 5px;
      margin: 5px 5px 5px 5px;
      border-radius: 5px;
    }

  #combat
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    #monstres
    {
      display: flex;
      justify-content: center;
      align-items: center;
    }

      .colonnes
      {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

        .monstre
        {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

          .animationMonster
          {
            width: 75%;
            height: 75%;
          }

          .animationMonster:hover
          {
            cursor:pointer;
          }

          .infobulleMonstre
          {
            display: flex;
            background-color: #535252;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 150px;
            padding : 0px 10px 10px 10px;
            border: 2px solid #1A1A1A;
            border-radius: 20px;
            opacity: .9;
          }

            #infobulleChampignon
            {
              visibility: hidden;
            }
            
            #infobulleSanglier
            {
              visibility: hidden;
            }
            
            #infobulleGeant
            {
              visibility: hidden;
            }

            .nomMonstre
            {
              background-color: #CB4239;
              font-size: 1.5em;
              text-transform: capitalize;
              text-align: center;
              padding: 5px 5px 5px 5px;
              border: 3px solid black;
              border-radius: 5px;
            }

            .vieMonstre
            {
              display: flex;
              flex-direction: row;
              font-size: 1em;
              text-transform: capitalize;
              justify-content: center;
              padding: 3px 3px 3px 3px;
              margin: 3px 3px 3px 3px;
              background-color: #CB4239;
              border: 2px solid black;
              border-radius: 6px;
            }

    #heros
    {
      display: flex;
      justify-content: center;
      align-items: center;
    }

      .spriteHero
      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

        .animationPerso
        {
          width: 75%;
          height: 75%;
        }

        .indicateur
        {
          width: 15%;
          height: 15%;
        }

        #indicateurArcher
        {
          visibility: hidden;
        }

        #indicateurMage
        {
          visibility: hidden;
        }

        #indicateurGuerrier
        {
          visibility: hidden;
        }

        #indicateurAssassin
        {
          visibility: hidden;
        }

#UI
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #C2C2C2;
  width: 1252px;
  border-left: 4px solid #161011;
  border-right: 4px solid #161011;
  border-bottom: 4px solid #161011;
}

  #skillHeroes
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

    .action
    {
      display: flex;
      justify-content: flex-end;
    }

      .infobulleAction
      {
        display: flex;
        flex-direction: column;

        justify-content: space-around;

        text-align: right;
        align-self: right;

        word-wrap : normal;

        visibility: visible;
        width : 350px;
        padding-right: 15px;
      }

      #infobulleAttaque
      {
        background-color: #B03333;
        opacity: .9;
        border-radius: 25px 0px 0px 25px;
        visibility: hidden;
      }

      #infobulleDefense
      {
        background-color: #27821C;
        opacity: .9;
        border-radius: 25px 0px 0px 25px;
        visibility: hidden;
      }

      #infobullePouvoir
      {
        background-color: #4396E1;
        opacity: .9;
        border-radius: 25px 0px 0px 25px;
        visibility: hidden;
      }
      
      button
      {
        width: 60px;
        height: 60px;
      }

      .bouton h3
      {
        visibility : hidden;
      }

        #boutonAttaque
        {
          background-image : url(images/button_Attack.png);
          background-position : center;
          background-repeat : no-repeat;
          background-size: 50px;
          background-color: #B03333;
        }

        #boutonAttaque:hover
        {
          cursor: pointer;
        }

        #boutonDefense
        {
          background-image : url(images/button_Defense.png);
          background-position : center;
          background-repeat : no-repeat;
          background-size: 50px;
          background-color: #27821C;
        }

        #boutonDefense:hover
        {
          cursor: pointer;
        }

        #boutonPouvoir
        {
          background-image : url(images/button_Power.png);
          background-repeat: no-repeat;
          background-position : center;
          background-repeat : no-repeat;
          background-size: 50px;
          background-color: #4396E1;
        }

        #boutonPouvoir:hover
        {
          cursor: pointer;
        }
  
  #statsHeroes
  {
    display: flex;
    flex-direction: row;
    border-left: 4px solid #161011;
  }

  .colonneStats
  {
    display: flex;
    flex-direction: column;
  }

  #colonneStats2
  {
    padding-left: 25px;
  }

    .uiPerso
    {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 10px 10px 10px;
    }

    .imagePerso
    {
      padding-right: 10px;
    } 

      #imageArcher
      {
        background-image: url("images/faceArcher.png");
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position : center;
        background-size: 60px;
      }
      
      #imageMage
      {
        background-image: url("images/faceMage.png");
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position : center;
        background-size: 60px;
      }

      #imageGuerrier
      {
        background-image: url("images/faceGuerrier.png");
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position : center;
        background-size: 60px;
      }

      #imageAssassin
      {
        background-image: url("images/faceAssassin.png");
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position : center;
        background-size: 60px;
      }

      .infosPerso
      {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

        .nomPerso
        {
          text-align: center;
          font: 2em, bold, capitalize, blue;
          padding: 5px 5px 5px 5px;
          border: 3px solid black;
          border-radius: 5px;
        }

        #nomHero1
        {
          background-color: #9DA928;
        }

        #nomHero2
        {
          background-color: #A92828;
        }

        #nomHero3
        {
          background-color: #6F6F6F;
        }

        #nomHero4
        {
          background-color: #EEEEEE;
        }

        .statsPerso
        {
          display: flex;
          justify-content: center;
        }

          .vieHero
          {
            display: flex;
            flex-direction: row;
            font: 2em, bold, capitalize, blue;
            justify-content: center;
            width: 75px;
            padding: 3px 3px 3px 3px;
            margin: 3px 3px 3px 3px;
            background-color: #57B947;
            border: 2px solid black;
            border-radius: 6px;
          }

          .manaHero
          {
            display: flex;
            flex-direction: row;
            font: 2em, bold, capitalize, blue;
            justify-content: center;
            width: 75px;
            padding: 3px 3px 3px 3px;
            margin: 3px 3px 3px 3px;
            background-color: #47E1DD;
            border: 2px solid black;
            border-radius: 6px;
          }


