@font-face {
  font-family: 'Pixellari';
  src: url("fonts/Pixellari.ttf") format ('truetype');
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid black;
}

scene
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1703px;
  height: 959px;
  background-image: url(images/backgroundScene3.png);
  border: 4px solid purple;
}

h2, h3
{
  font-family: 'Pixellari', Impact, Arial, sans-serif;
}

vies
{
  display: flex;
  justify-content: space-around;
  border: 4px solid magenta;
}

vieHeros
{
  display: flex;
  justify-content: space-between;
  border: 4px solid yellow;
}

.vieHero h3
{
  display: flex;
  flex-direction: row;
  font: 2em, bold, capitalize, blue;
  padding: 3px 3px 3px 3px;
  margin: 3px 3px 3px 3px;
  background-color: yellowgreen;
  border: 2px solid black;
  border-radius: 6px;
}

.manaHero h3
{
  display: flex;
  flex-direction: row;
  font: 2em, bold, capitalize, blue;
  padding: 3px 3px 3px 3px;
  margin: 3px 3px 3px 3px;
  background-color: cyan;
  border: 2px solid black;
  border-radius: 6px;
}

vieMonstres
{
  display: flex;
  justify-content: space-between;
  border: 4px solid yellow;
}

.vieMonstre h3
{
  display: flex;
  flex-direction: row;
  font: 2em, bold, capitalize;
  padding: 3px 3px 3px 3px;
  margin: 3px 3px 3px 3px;
  background-color: red;
  border: 2px solid black;
  border-radius: 6px;
}

combat
{
  width : 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid green;
}

heros
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid gray;
}

colonneHero1
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 4px solid purple;
}

colonneHero2
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 4px solid purple;
}

colonneMonstres1
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 4px solid purple;
}

colonneMonstres2
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 4px solid purple;
}

monstres
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid gray;
}

heros h2
{
    background-color: yellowgreen;
    text-align: center;
    font: 2em, bold, capitalize, blue;
    padding: 5px 5px 5px 5px;
    border: 3px solid black;
    border-radius: 5px;
}

monstres h2
{
    background-color: red;
    text-align: center;
    font: 2em, bold, capitalize;
    padding: 5px 5px 5px 5px;
    border: 3px solid black;
    border-radius: 5px;
}

.spriteHero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}

.spriteMonstre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}

UI
{
  align-self: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid yellow;
  width: 50%;
}

#skillsHero
{
  display: flex;
  justify-content: space-between;
}

.bouton
{
  display: flex;
  justify-content: center;
  font: 2em, bold, capitalize;
  padding: 5px 5px 5px 5px;
  border: 3px solid pink;
  border-radius: 5px;
}

#boutonAttaque
{
  background-color: red;
}

#boutonAttaque:hover
{
  cursor: pointer;
}

#boutonDefense
{
  background-color: green;
}

#boutonDefense:hover
{
  cursor: pointer;
}

#boutonPouvoir
{
  background-color: blue;
}

#boutonPouvoir:hover
{
  cursor: pointer;
}

boiteDialogue
{
  text-align: center;
  align-self: center;
  border: 3px solid black;
  background-color: grey;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  width: 400px;
}